@page
@using ChoresAndFulfillment.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="info text-center">
    <br />
    <h1>
        The Service Market of Tomorrow
    </h1>
    <br />
    <div style="margin-left:30%;margin-right:30%;">
        <p style="display:inline-block;">
            Chores And Fulfillment is a service designed to connect
            two types of people - those who have a lot of chores (Provider),
            and those who are capable of fulfilling such chores (Resolver),
            and who want to earn money in the process. If you are one of such people, you should
            <strong><a asp-area="Identity" asp-page="/Account/Register">sign up here</a></strong>.
        </p>
    </div>

</div>
